<!DOCTYPE html>
<html>
  <head>
    <title>Yelpdemo</title>
    <%= render 'layouts/bootstrap'%>  
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->  
    
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
